---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tag Index";
const allPosts = await Astro.glob('../posts/*.md'); 
const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap">
    {uniqueTags.map((tag) => (
      <p class="m-1 border-[#a1a1a1] border-dotted border-2 rounded-lg px-4 py-2 text-lg bg-[#f8fcfd]"><a class="text-[#00539F]" href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>